@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  *::before,
  *::after {
    transition-property: background-color, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}

::selection {
  background: rgba(99, 102, 241, 0.3);
  color: white;
}
